.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 1rem 0 0;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	width: 20%;
	height: calc(100svh - 60px);
	background: var(--task-bg);
}

.nav-items {
	width: 100%;
	display: flex;
	list-style: none;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 500;
}

.nav-items li {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 2rem;
	border-radius: 0.5rem;
	transition: all 0.2s ease-in-out;
}
.nav-items li a {
	padding: 1rem 4rem;
	gap: 1rem;
	width: max-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-items li:hover {
	background-color: var(--accent);
}
.nav-items li.active {
	background-color: var(--accent);
}

.settings {
	padding: 0.5rem;
	color: #aaa;
	font-weight: bold;
}
