.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 1rem 1rem 0;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	width: 20%;
	height: calc(100% - 60px);
	background: var(--task-bg);
}

.nav-items {
	display: flex;
	list-style: none;
	flex-direction: column;
	justify-content: space-between;
}

.nav-items li {
	padding: 0.5rem;
	cursor: pointer;
}

.nav-items li.active {
	background-color: #eee;
}

.settings {
	padding: 0.5rem;
	color: #aaa;
	font-weight: bold;
}
