@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
:root {
	--bg: #202938;
	--task-bg: #111828;

	--accent: #9334ea;
	--accent-hover: #7228b6;
	--titles-font: "Merriweather", serif;
	--body-font: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: var(--body-font);
	font-size: 1.6rem;
	line-height: 1.5;
	color: #fff;
	background-color: var(--bg);
}
